button {
  margin-left: 1px;
  padding: 0.3rem 1rem;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #222;
  border-radius: 0.3rem;
}

.add-section-btn:hover {
  color: var(--accent);
  outline: 1px solid var(--accent);
  /* background-color: rgb(10, 0, 15, 0.025); */
}
