h1,
h2,
h3,
h4 {
  font-weight: 400;
}

.resume-container {
  /* margin-top: 10mm; */
  font-family: 'DM Sans', sans-serif;
  width: 210mm;
  height: 297mm;
  aspect-ratio: 1 / 1.41;
  background-color: white;
  font-size: 11pt;
  transform-origin: top center;
  transform: scale(0.75);
  box-shadow: 5px 5px 15px 0px rgb(0 0 0 / 15%);
}

.resume {
  padding: 25mm;
  margin: 0 auto;
}

.cv-header {
  font-family: 'Oswald', sans-serif;
  display: grid;
  place-items: center;
  gap: 2mm;
  padding-bottom: 10mm;
}

.name {
  text-transform: uppercase;
  font-size: 18pt;
}

.cv-body {
  /* padding: 0 4.5rem; */
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 4.2mm;
  font-size: 9pt;
}

.contact-group {
  display: flex;
  align-items: center;
  gap: 0.5mm;
}

.symbol {
  margin-top: 0.5mm;
  font-size: 9pt;
}

.section {
  margin-bottom: 4.2mm;
}

.cv-section-title {
  font-family: 'DM Serif Display', serif;
  font-size: 16pt;
  margin: 0 auto 1mm;
}

.timeline {
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 0.3mm;
  background-color: lightgray;
  top: 2.1mm;
  bottom: 0;
  left: 0;
  margin-left: 0;
}

.timeline-item {
  margin: 0 0 3.2mm 3mm;
  position: relative;
}

.timeline-item::before {
  content: '';
  position: absolute;
  width: 1.5mm;
  height: 1.5mm;
  left: -3.6mm;
  background-color: white;
  border: 0.3mm solid grey;
  top: 2.1mm;
  border-radius: 50%;
  z-index: 1;
}

h4 {
  font-size: 13pt;
  margin-bottom: 0;
  color: darkslateblue;
}

.employer {
  /* margin-bottom: 0.05rem; */
  /* font-size: 0.75rem; */
  font-weight: bold;
}

.info-group {
  display: flex;
  align-items: baseline;
  gap: 2.2mm;
  justify-content: space-between;
  font-size: 18pt;
}

.city {
  font-size: 10pt;
}

.experience .dates {
  font-size: 9pt;
}

.dates {
  margin-bottom: 1mm;
  color: gray;
}

.experience .description {
  margin-left: 6.3mm;
}

li {
  margin: 0.8mm 0 0;
}

.h-divider {
  width: 100%;
  height: 0.03mm;
  margin: 0 auto 1.7mm;
  background-color: grey;
}

@media print {
  body *:not(.pdf, .pdf *) {
    display: none;
  }
  .resume-container {
    transform: scale(1);
  }
}
