.form-container:hover + .deleteBtn {
  color: indigo;
}

.deleteBtn {
  padding: 0.5rem;
  grid-column: 2;
  grid-row: 1;
  color: transparent;
  cursor: pointer;
}

.deleteBtn:hover {
  color: indigo;
}

textarea {
  /* 3 lines */
  min-height: 6.2rem;
}
