.input-container,
.output-container {
  width: 50%;
  min-height: 100vh;
  padding: 2rem 3rem;
}

.output-container {
  display: grid;
  grid-template-rows: 2rem 1fr;
  justify-content: center;
  gap: 1rem;
  background-color: #dbeafe;
}

.btn-group {
  /* width: 100%; */
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.h1 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 300;
  color: indigo;
}

.form-section {
  margin-bottom: 1.5rem;
}

.form-section-title {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Oswald';
  font-weight: 300;
  color: indigo;
  margin: 0 auto 0.5rem;
}
