.main {
  display: flex;
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.input-container,
.output-container {
  width: 50%;
  min-height: 100vh;
  padding: 2rem 3rem;
  @media only screen and (max-width: 1200px) {
    width: 100%;
  }
}

.input-container {
  color: #222;
}

.output-container {
  display: grid;
  grid-template-rows: min-content 1fr;
  justify-content: center;
  gap: 1.2rem;
  background-color: var(--secondary-bg);
}

.btn-group {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.h1 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 2.5rem;
  color: #333;
}

.form-section {
  margin-bottom: 1.5rem;
}

.form-section-title {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Oswald';
  font-weight: 300;
  color: var(--accent);
  margin: 0 auto 0.5rem;
}
