section {
  border: 1px solid lightgray;
  margin: 0.3rem 0;
  padding: 0.5rem 1rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.section-header:hover .section-title,
.section-header:hover .expand {
  color: indigo;
}

.section-title {
  width: 100%;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.expand {
  font-size: 2rem;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1rem;
}

.expand-btn {
  cursor: pointer;
  border: none;
  background: none;
}
